<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reflective Refuge Radio</title>
  <meta name="Reflective Refuge Radio" content="">
  <script defer src="../public/scripts/user_register.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="https://www.reflectiverefuge.info/live" target="_blank">Mix Tapes</a></li>
        <li><a href="https://www.reflectiverefuge.info/about-us" target="_blank">About</a></li>
      </ul>
    </nav>
    <hr>
    <h1>Register</h1>
  </header>

  <form id="registerForm">
    <div>
      <label for="accountName">Name</label>
      <input type="text" id="accountName" name="accountName" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit"> Register</button>
  
  </form>
  <a href="/login">Login</a>

  <hr>
  <footer>
    <h3> Reflective Refuge </h3>
  </footer>
</body>

</html>